/**
На будущее чтобы шарить стили с регистрацией
 */
@import "@components/Shared/common.scss";

@mixin log-reg-page {
  width: fit-content;
  height: fit-content;
  display: flex;
  text-align: center;
  position: relative;
  margin: max(calc((100vh - 366px - 52px)/2), 30px) auto;
}

@mixin log-reg-input {
  border-color: $main-color;
  border-width: 10px;
  border-radius: 12px;
  background-color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
  gap: 15px;
}

@mixin login-field {
  width: calc(100% - 15px);
  border-radius: 12px;
  border-width: 1px;
  border-color: $main-color;
  height: calc(25px + 2.5vh);
  padding-left: 10px;
}

@mixin password-field {
  border-radius: 12px;
  border-width: 1px;
  border-color: $main-color;
  width: 100%;
  height: calc(25px + 2.5vh);
  padding-left: 10px;
}

@mixin log-reg-text{
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: black;
  margin-top: 15px;
}
