<div class="ng-number ng-number_lg" data-carplate-input="" data-analytics="">
    <div class="ng-number__number">
        <p class="series1">{{series1}}</p>
        <p class="number">{{number}}</p>
        <p class="series2">{{series2}}</p>
    </div>
    <div class="ng-number__region">
        <p class="region">{{region}}</p>
        <img width="63" height="15" class="plate__ru-region" alt="" src="">
    </div>
</div>
