<div class="not-found">
    404
    <br>Я не могу тебя найти<br>Где бы ты ни была, ответь<br>Дай мне себя спасти<br>Я тебя не потревожу впредь<br>Я не могу тебя найти<br>Где бы ты ни была, ответь<br>Дай мне себя спасти<br>Я тебя не потревожу впредь<br>Не уходи на дно<br>Пей, чтоб не утонуть<br>Мне уже всё равно<br>С кем ты продолжишь путь<br>Только бы не одна<br>Крепче держись за жизнь<br>И допивай до дна<br>Только не захлебнись
</div>
