.car {
  width: calc( ((100vw - 60px + 20px) / 4) - 22px );
  height: fit-content;
  background-color: white;
  border-radius: 12px;
  border: 1px solid gray;

  &__img-block > img {
    width: 100%;
    aspect-ratio: 16/9;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  &__plate {
    display: inline-block;
    margin-left: calc( (((100vw - 60px + 20px) / 4) - 22px - 265px)/2 );
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__data-text {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    color: gray;
    text-align: center;
  }
}

@media (max-width: 760px) {
  .car {
    width: 100vw !important;
    &__plate{
      margin-left: 45px !important;
    }
  }
}

@media (max-width: 1350px) and (min-width:1101px) {
  .car {
    width: calc( ((100vw - 60px + 20px) / 3) - 22px ) !important;
    &__plate{
      margin-left: calc( (((100vw - 60px + 20px) / 3) - 22px - 265px)/2 ) !important;
    }
  }
}
@media (max-width: 1100px) and (min-width:761px) {
  .car {
    width: calc( ((100vw - 60px + 20px) / 2)  - 22px ) !important;
    &__plate{
      margin-left: calc( (((100vw - 60px + 20px) / 2) - 22px - 265px)/2 ) !important;
    }
  }
}
