@import "@components/Shared/common.scss";
@import "@components/Shared/logreg.scss";

@mixin pass-icon {
  margin-left: -30px;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.login-page {
  @include log-reg-page;

  &__input {
    @include log-reg-input;
    width: 270px;
  }

  &__error-text {
    color: $error-color;
  }

  &__input-login {
    @include login-field;
  }

  &__input-password {
    @include password-field;
  }

  &__input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    height: 100%;
  }

  &__input-login-button{
    @include main-color-button;
    padding: 15px;
    width: fit-content;
    height: 30px;
  }

  &__input-entry-text {
    @include log-reg-text;
  }

  &__input-forgot-pass {
    font-family: sans-serif;
    font-size: 0.8rem;
    color: #FFB97D;
  }

  &__input-buttons {
    margin-top: 15px;
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    gap: 15px;
  }

  &__passin {
    margin-top: 15px;
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 5px;
  }

  &__pass-icon {
    &_show {
      @include pass-icon;
      background: url(@static/icons/icons8-eye-30.png) center/contain no-repeat;
    }
    &_hide {
      @include pass-icon;
      background: url(@static/icons/icons8-hide-30.png) center/contain no-repeat;
    }
  }
}

